/* login-dialog.component.css */

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px; /* Add padding for better styling */
  border-radius: 8px; /* Optional: Add rounded corners */
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:first-child {
  margin-right: 10px;
}
